* {
  font-family: Podkova, serif;
  box-sizing: border-box;

}

body {
  background-color: hsl(190, 20%, 95%); 
  padding: 10px;
}

/* Logo Container */

.logo-parent {
  display: inline-flex;
  width: 100%;
  margin: 0 auto 20px auto;
  padding: 20px;
  background-color: hsl(190, 90%, 95%);
}

.logo-parent .child {
  flex: 1;
  min-width: 200px
  padding: 20px;
  margin: auto;
}

#name {
  color: hsl(190, 35%, 25%);
  font-weight: 8;
}

#title{
  color: hsl(50, 60%, 60%);
  font-weight: 9;
}



/* Example Work Container 
*
* Each link is its own flex container 
* with the <a>,<img> and text elements
* as its children
*/

.link-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 50px;
  overflow: hidden;
}

.link-container .link-label .text{
  color: hsl(190, 20%, 30%);
  font-weight: 7;
  margin: auto;
}

.link-parent {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 200px;
  width: 155px ;
  margin: 10px auto 10px auto;
  padding: 5px;
  background-color: hsl(190, 70%, 95%); 
  box-shadow: 3px 3px 1.5px #888888;
}

.link-parent .child {
  flex: 1;
  margin: auto; /* "auto" is what centers the child inside the parent*/
  background-color: hsl(190, 80%, 95%); 
}
img {
  height: 125px;
  width: 125px;
  margin: 0;
}

.link-parent .child .project-title {
  color: hsl(190, 30%, 25%);
  font-weight: 7;
}

/*Small Screens*/
@media all and (max-width: 500px) {

  .link-parent {
    flex-flow: column wrap;   
  }

}

/*Contact Info Container*/

.contact-box {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  background-color: hsl(190, 45%, 95%)
}

.contact-container {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  margin: 10px auto 10px auto;
  padding: 20px;
  background-color: hsl(190, 45%, 95%);  
}

.contact-container .child {
  flex: 1;
  padding: 5px;
  margin: auto;
}

.contact-container .child .contact-title {
  color: hsl(190, 50%, 27%);
  font-weight: 7;
}

/*About Section Container*/

.about-box {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  background-color: hsl(190, 45%, 95%)
  box-shadow: 3px 3px 1.5px #888888;
  margin: 10px auto 10px auto
  padding: 20px;
}

.about-container {
  flex: 1;
  display: flex;
  padding: 20px;
  margin: 10px auto 10px 0;
}
}
.about-container .child {
  flex: 1;
  padding: 5px;
}
#about-title {
  color: hsl(190, 50%, 27%);
  font-weight: 7;
}

.about-text {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  justify-content: space-around;
}
.about-text .child {
  flex: 1;
  margin: auto; /* sets text to center*/
}
.about-text p{
  color: hsl(190, 50%, 20%);
  font-weight: 9;
}